@charset "UTF-8";

@import url(variable.css);
@import url(base.css);
@import url(common.css);
@import url(anomalyBar.css);
@import url(check.css);
@import url(anomalyArticle.css);

.main-container {
    /* background-color: rgba(27, 24, 32, 0.664); */
    padding: 4rem;
    border-radius: 0.5rem;
    border: 3px dashed var(--classes-TRed);
    backdrop-filter: brightness(65%);
    height: 9rem;
    overflow: scroll;
    scrollbar-width: none;
    transition: 1s;
}