@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zen+Old+Mincho&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    font-family: 'Inter', system-ui, sans-serif;
    color: var(--textColor-White0);
    -webkit-font-smoothing: antialiased;
    width: 100vw;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3 {
    overflow: hidden;
}

input,
button,
textarea,
select {
    font-family: inherit;
    background: none;
    border: none;
    outline: none;
    appearance: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: circle;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    border: none;
    height: 2px;
    background-color: #282828;
}